@font-face {
    font-family: 'Minecraft';
    src: url("./assets/fonts/MinecraftStandard.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Minecraft';
    src: url("./assets/fonts/MinecraftStandardBold.otf") format("opentype");
    font-weight: bold;
    font-style: normal;
}

body {
    background-color: #1e1e1e;
    min-width: 320px;
    overflow-x: auto;
}

.guide-outer {
    display: flex;
    flex-wrap: wrap;
    vertical-align: center;
    align-items: center;
    justify-content: center;
    min-width: fit-content;
}

.archetype-card {
    display: flex;
    flex-direction: column;
    min-width: 50%;
    max-width: 50%; /* Adjust This*/
    text-align: center;
}
.archetype-card img {
    width: 30rem;
    height: 30rem;
    object-fit: cover;
    align-self: center;
}
.archetype-card-title {
    padding-top: 2%;
    text-align: center;
    font-family: 'Minecraft', sans-serif;
    font-size: 1.2vw;
    color: white;
}
.archetype-card-inline-icon {
    width: 1.85em !important;
    height: 1.85em !important;
    vertical-align: bottom;
}

.guide-section {
    display: flex;
    flex-direction: column;
    width: fit-content;
    min-width: 34vw;
    max-width: 34vw; /* change this for entire section */
}
.guide-heading {
    font-family: 'Minecraft', sans-serif;
    font-size: 1.5rem;
    color: white;
    text-align: center;
}
.guide-subheading {
    font-family: 'Minecraft', sans-serif;
    font-size: 1.25rem;
    color: white;
    text-align: center;
}

.spell-cycle {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Minecraft', sans-serif;
    font-size: 0.5rem; /* Change this for size */
    color: white;
    text-align: center;
}
.spell-display {
    display: inline-flex;
    flex-direction: column;
    height: 12em;
    align-items: center;
    justify-content: space-between;
}
.spell-name {
    max-width: 15.5em;
    align-self: center;
    font-size: 1em; /* Don't touch */
    transform: translateY(-2em);
    overflow: hidden;
}
.spell-text {
    font-size: 1.5em; /* Don't touch */
    transform: translateY(-0.9em);
    padding-left: 1em;
    padding-right: 1em;
}
.spell-cycle-inline-icon {
    width: 8em !important; /* Don't touch */
    height: 8em !important; /* Don't touch */
    padding-bottom: 0.5em !important;
    align-self: center;
}

.ability {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Minecraft', sans-serif;
    font-size: 1.1rem;
    color: white;
    width: fit-content;
    padding-top: 3%;
    margin: 0;
}
.ability-display {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1em;
    text-align: center;
    width: auto;
}
.ability-display-text {
    font-size: 0.35em;
    max-width: 15em;
    align-self: center;
    white-space: nowrap;
}
.ability-display img {
    width: 4em !important; /* Don't touch */
    height: 4em !important; /* Don't touch */
    margin-bottom: 0.4em !important;
    align-self: center;
}
.ability-description {
    padding-left: 3%;
    padding-right: 1%;
    max-width: 100%;
    max-height: 100%;
}
.ability-description img {
    width: 2em !important; /* Don't touch */
    height: 2em !important; /* Don't touch */
    vertical-align: bottom;
}
