@font-face {
    font-family: 'Minecraft';
    src: url("./assets/fonts/MinecraftStandard.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Minecraft';
    src: url("./assets/fonts/MinecraftStandardBold.otf") format("opentype");
    font-weight: bold;
    font-style: normal;
}

body {
    background-color: #000000;
    font-family: 'Minecraft', sans-serif;
    color: white;
}

.guide-outer {
    display: flex;
    background-color: #1e1e1e;
    max-width: 100vw;
}

.archetype-card {
    display: flex;
    flex-direction: column;
    max-width: 33vw;
}
.archetype-card-img{
    object-fit: cover;
    object-position: -2vw;
    width: 40vw;
    height: 40vw;
    align-self: center;
}
.archetype-card-title {
    padding-top: 1.25vw;
    text-align: center;
    font-size: 1.5vw;
    color: white;
}
.archetype-card-title img{
    width: 1.85em !important;
    height: 1.85em !important;
    vertical-align: bottom;
}

.guide-column {
    display: flex;
    flex-direction: column;
    width: fit-content;
    min-width: 34vw;
    max-width: 34vw; /* change this for entire section */
    background-color: #505050;
}
.guide-heading {
    font-size: 1.25em;
    text-align: center;
}
.guide-subheading {
    font-size: 1rem;
    text-align: center;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.spell-cycle-outer {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.5vw; /* Change this for size */
}
.spell-display {
    text-align: center;
}
.spell-display img {
    width: 6em !important; /* Don't touch */
    height: 6em !important; /* Don't touch */
    align-self: center;
}
.spell-name {
}
.spell-in-between {
    padding-left: 0.75em;
    padding-right: 0.75em;
}


