@font-face {
    font-family: 'Minecraft';
    src: url("../assets/fonts/MinecraftStandard.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Minecraft';
    src: url("../assets/fonts/MinecraftStandardBold.otf") format("opentype");
    font-weight: bold;
    font-style: normal;
}


body {
    background-color: #000000;
    font-family: 'Minecraft', sans-serif;
    color: white;
    min-height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}


.guide-outer {
    display: inline-flex;
    justify-content: center;
    background-color: #1e1e1e;
    margin: 0 auto;
    padding: 1rem;
}

.archetype-card {
    align-self: center;
    display: flex;
    flex-direction: column;
    max-width: 33rem;
    overflow: hidden;
}
.archetype-card-img{
    object-fit: cover;
    object-position: -2rem;
    width: 40rem;
    height: 40rem;
    align-self: center;
}
.archetype-card-title {
    padding-top: 1.25rem;
    text-align: center;
    font-size: 1.5rem;
    color: white;
}
.archetype-card-title img{
    width: 1.85em !important;
    height: 1.85em !important;
    vertical-align: bottom;
}


.guide-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 34rem;
    max-width: 34rem; /* change this for entire section */
}
.guide-heading {
    font-size: 1.25rem;
    text-align: center;
}
.guide-subheading {
    font-size: 1rem;
    text-align: center;
    padding-top: 0.75em;
}


.spell-cycle-outer {
    display: inline-flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 0.5rem; /* Change this for size */
}
.spell-display {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 1em;
    font-size: 1em;
}
.spell-display.small {font-size: 0.9em;}
.spell-display.tiny {font-size: 0.8em;}
.spell-display img {
    height: 3.5rem !important; /* Don't touch */
    align-self: center;
}
.spell-in-between {
    padding-left: 0.75em;
    padding-right: 0.75em;
}


.abilities-outer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto; /* Centers it */
    max-width: 30rem;
}
.ability-inner-double {
    display: grid;
    grid-template-columns: auto auto;
}
.ability {
    display: inline-flex;
    font-size: 1rem; /* Change this */
    padding-top: 0.5em;
    padding-left: 0.25em;
    padding-right: 0.25em;
}
.ability-icon {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    font-size: 1em;
    font-weight: bold;
    justify-content: center;
    align-items: center;
}
.ability-icon img {
    height: 3.5em !important; /* Don't touch */
    align-self: center;
}
.ability-icon-text{
    text-align: center;
    font-size: 0.4em;
    width: 11em;
    max-width: 11em;
    overflow: hidden;
}
.ability-icon-text.small {
    font-size: 0.3em;
}
.ability-icon-text.tiny {
    font-size: 0.25em;
}
.ability-description {
    padding-left: 1em;
    font-size: 0.4em;
    align-self: center;
}
.ability-description.small{
    font-size: 0.35em;
    align-self: center;
}
.ability-description.large{
    font-size: 0.45em;
    align-self: center;
}
.ability-description img {
    height: 2em !important;
    vertical-align: bottom;
}


.aspects{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.aspect{
    display: inline-flex;
    flex-direction: row;
    font-size: 1rem;
    padding-top: 0.5rem;
    max-width: 25rem;
}
.aspect-icon {
    height: 3.5em !important; /* Don't touch */
    align-self: center;
}
.aspect-name {
    font-size: 0.5em;
    text-align: center;
}
.aspect-description {
    padding-top: 0.25rem;
    padding-left: 0.5rem;
    font-size: 0.85em;
    text-align: center;
}.aspect-description img {
     height: 2em !important;
     vertical-align: bottom;
}


.weapons {
    display: flex;
    gap: 0.75em;
    padding-top: 0.75rem;
}
.weapon {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.75em;
}
.weapon-icon {
    background-size: cover;
    background-position: center, bottom right;
    width: 4em; height: 4em;
    position: relative;
    display: inline-block;
}
.weapon-label {
    height: 1em !important;
    position: absolute;
    background-color: #131313;
    padding: 0.2em 0.2em;
    bottom: 0;
    right: 0;
    border-radius: 0.2em;
}
.weapon-name {
    font-size: 0.5em;
}








