{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Minecraft';
    src: url("../assets/fonts/MinecraftStandard.otf") format("opentype");
}

body {
    background: #000;
}

.guide-img {
    width: 100%;
    height: 100vh;
    object-fit: contain;
    cursor: zoom-in;
}

.guide-img:hover {
    transform: scale(1.5);
    transition: transform 0.2s ease;
}
