{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Minecraft';
    src: url("../assets/fonts/MinecraftStandard.otf") format("opentype");
}

body {
    background: #000;
}

.guide-img {
    width: 100%;
    cursor: zoom-in;
    transition: transform 0.2s;
}

.guide-img.zoomed {
    transform: scale(2);
    cursor: zoom-out;
}
